* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: Heebo;
  src: url("../fonts/Heebo.ttf"); }

body {
  font-family: Heebo;
  font-size: 15px; }


  .navbar .navbar-nav .nav-item{
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: "";
    background-color: #FF5959;
    width: 0%;
    height: 2px;
    transition: all .5s;
  }
  .navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
  }
  .dropdown:hover .dropdown-menu,
  .btn-group:hover .dropdown-menu {
      display: block;
  }
  .dropdown-menu {
      margin: auto;
  }
  .dropdown-toggle {
      margin: auto;
  }
  .navbar .dropdown-toggle,
  .nav-tabs .dropdown-toggle {
      margin: auto;
  }

.baner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.473)), url("../images/laboratorio.jpg");
  color: white;
  flex-wrap: nowrap; }

.box1{
  height: 1000px;
  background-image: linear-gradient(to right, #676fa3, white) ;

}

.inner{
  overflow: hidden;
}
.inner img{
  transition: 1.5s;
}
.inner:hover img{
  transform: scale(1.2);
}

.tecnologia h2 {
  color: black;
  font-size: 20x;
  background-color: #ff59ff; }

/*-----------------------------------------------*/
.tecnologia {
  display: flex;
  flex-direction: column;
  height: 300px; }

/*Aqui comienza el footer */
.pie {
  background-color: #EEF2FF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  height: 200px; }

.pie_texto {
  display: flex;
  flex-direction: column; }

.formulario {
  grid-area: formulario;
  display: flex;
  justify-content: center; }

.direccion {
  grid-area: direccion;
  text-align: left;
  margin-top: 50px; }
