* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@font-face {
  font-family: Heebo;
  src: url("../fonts/Heebo.ttf"); }

body {
  font-family: Heebo;
  font-size: 15px; }

/*------------------HEADER-------------*/
html {
  font-size: 62.5%; }

@font-face {
  font-family: Heebo;
  src: url("../fonts/Heebo.ttf"); }

body {
  font-family: Heebo;
  font-size: 15px; }

.navbar .navbar-nav .nav-item {
  position: relative; }

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  background-color: #FF5959;
  width: 0%;
  height: 2px;
  transition: all .5s; }

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%; }

.dropdown:hover .dropdown-menu,
.btn-group:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  margin: auto; }

.dropdown-toggle {
  margin: auto; }

.navbar .dropdown-toggle,
.nav-tabs .dropdown-toggle {
  margin: auto; }

/*------------------BODY-------------*/
.box {
  height: 200px;
  background-color: beige; }

.box_texto {
  padding-top: 30px;
  padding-left: 30px;
  font-size: 30px; }

.box1 {
  height: 400px;
  background-image: linear-gradient(to right, #676fa3, white);
  display: flex;
  justify-content: center;
  align-items: center; }

/*------------------BANNER-------------*/
.banner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(172, 149, 226, 0.301), rgba(92, 16, 102, 0.123)), url("../images/laboratorio.jpg");
  color: white;
  flex-wrap: nowrap; }

/*------------------CARDS-------------*/
.inner {
  overflow: hidden; }

.inner img {
  transition: 1.5s; }

.inner:hover img {
  transform: scale(1.2); }
