@import "base/reset";
@import "base/variables";
/*------------------HEADER-------------*/
@import "layout/nav";
/*------------------BODY-------------*/
@import "layout/body";
/*------------------BANNER-------------*/
@import "layout/banner";
/*------------------CARDS-------------*/
@import "layout/noticias";
