



.banner {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(172, 149, 226, 0.301), rgba(92, 16, 102, 0.123)), url("../images/laboratorio.jpg");
    color: white;
    flex-wrap: nowrap; }